.cardStyle {
    padding: 0.8em;
    width: 30em;
    min-height: 35em;
    margin: 0 auto;
}

.banner {
    padding: 0.8em;
    width: 30em;
    min-height: 35em;
    background-color: rgb(25, 103, 192);
}
