.menuItem {
  h6 {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
  }

  h5 {
    color: white !important;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }

  h5:hover {
    color: rgb(25, 103, 192) !important;
    // color: black !important;
    // color: goldenrod !important;
  }

  a {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: rgb(25, 103, 192) !important;
  }
}

.navigationTitle {
  a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.green {
  color: #519259;
}

.centerMenu {
  // background-color: #1967c0;
  background: #1056a4;
  background: linear-gradient(94deg, rgba(16, 86, 164, 1) 0%, rgba(65, 131, 206, 1) 53%, rgba(122, 184, 255, 1) 100%);
  border-radius: 13px;
  padding: 0.3em;

  h5 {
    color: white !important;    
    border-radius: 7px;
    margin: 0.3em;
    // transition: all 0.2s ease-in-out;
  }

  h5:hover {
    color: black !important;
    // background-color: #adcbee;    
  }
}
