.menuItem {
  h6 {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
  }

  a {
    color: white !important;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: rgb(25, 103, 192) !important;
  }
}

.navigationTitle {
  a {
    color: white;
    font-size: 1.5em;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: white;
  }
}

.green {
  color: #519259;
}
