.colHeight {
    min-height: 50em;
    background-color: white;
    color: black;
    border-radius: 13px;
}

.renglon {
    padding: 0.8em;
    // background-color: cyan;
    height: 25em;
    overflow-y: auto;
}